@import "app.css"; 

#pending-api-table{
	font-size: 24px;
}

#pending-api-table th{
	font-size: 26px;
}

.entity-border{
	border: 1px solid;
	padding: 10px !important;
}

.anatomy-type{
	border-color: var(--yellow);	
}
.cell-type{
	border-color: var();
}
.chemical-type{
	border-color: var(--orange-medium);
}
.disease-type{
	border-color: var(--indigo);
}
.gene-type{
	border-color: var(--blue-light);
}
.geneset-type{
	border-color: var(--blue-dark);
}
.genomicentity-type{
	border-color: var(--blue-medium);
}
.phenotype-type{
	border-color: var(--pink);
}
.protein-type{
	border-color: var(--teal);
}
.variant-type{
	border-color: var(--green-medium);
}
.association-type{
	border-color: var();
}
.coocurrence-type{
	border-color: var();
}


/*

    --blue-dark: #36c;
    --blue-medium: #2a7fe2;
    --blue-light: #669be8;
    --green-dark: #40b307;
    --green-medium: #67cf2e;
    --green-light: #85d958;
    --orange-dark: #c63;
    --orange-medium: #fd7400;
    --orange-light: #ff8e39;

    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;*/